@{
    Layout = null;
}
@if (Session["Aname"] != null)
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Template</title>
        <!-- Bootstrap Core CSS -->
        <link href="~/Content/bootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="~/Content/simple-sidebar.css" rel="stylesheet">



        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="Content/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="Content/font-awesome.min.css" />
        <script type="text/javascript" src="Shared/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="Script/bootstrap.min.js"></script>

    </head>
    <body>
        <div id="wrapper">
            <!-- Sidebar -->

            <div id="sidebar-wrapper">

                <ul class="sidebar-nav">
                    <li class="nav-header">


                        <a>
                            <br />
                            <img style="padding-left:30px" width="180" height="180" class="img-rounded" src="/images/admin.jpg" alt="your image" />
                            <h5><i>Seemal Nasir</i></h5>
                        </a>

                        <a href="/Admin/Index">

                            <br />

                            <h3><i><span class="nav-label">Admin Dashboard</span></i></h3>
                        </a>

                    </li>


                    <li>


                        <a href="/Admin/AddCatagory">
                            <i> Add Catagory</i>

                        </a>
                    </li>
                    <li>
                        <a href="/Admin/DelCatagory">
                            <i> Delete Catagory</i>

                        </a>
                    </li>

                    <li>

                        <a href="/Admin/Add">
                            <i> Add Items</i>

                        </a>
                    </li>

                    <li>
                        <a href="/Admin/Delete">
                            <i>Delete/Update Items</i>

                        </a>
                    </li>



                    <li>
                        <a href="/Admin/ViewUsers">
                            <i>View All Users</i>

                        </a>
                    </li>

                    <li>
                        <a href="/Admin/DeleteUser">
                            <i>Delete User</i>
                        </a>
                    </li>

                    <li>
                        <a href="/Admin/msgs">
                            <i>Messages</i>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Logout">
                            <i>Logout</i>
                        </a>
                    </li>


                </ul>


            </div>

            <!-- /#sidebar-wrapper -->
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid" style="background-color:beige">
                    <div class="row">
                        <div class="col-lg-12">


                            <br />
                            <br />

                            <a href="/Admin/Admin" title="" class="logo"><img src="~/images/khaadi_logo.png" alt=""></a>
                            <br />
                            <br />
                            <br />



                            <hr />
                            <div class="row">
                                <div class="col-lg-1"></div>


                                <form class="col-md-6" action="/Admin/Catagory" method="post" enctype="multipart/form-data">
                   
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <br /><br /><br />
                                            <br /><br /><br />
                                            <br /><br /><br />
                                            
                                            <label class="control-label col-lg-2">Name </label>

                                            <input type="text" required="" name="Name" class="form-control input-lg">

                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary btn-lg btn-block" style="background-color:black;color:white">ADD</button>


                                        </div>
                                     

                                    </div>
                                    <br />
                                    <br />
                                    <div class="col-lg-4"></div>
                                    
                                    <div class="col-lg-2">
                                        <h4>Upload Image: </h4>
                                        
                                        <input required=""  type='file' name="Picture" onchange="readURL(this);" />
                                        <br />

                                        <img id="blah" width="380" height="400" src="/images/addItem.jpg" alt="" />

                                        <br />
                                        <br />


                                    </div>

                                </form>


                            </div>

                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <hr />


                            <a href="#menu-toggle" style="background-color:black;color:white" class=" btn btn-default" id="menu-toggle">Menu</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>

        <!-- /#wrapper -->
        <!-- jQuery -->
        <script src="~/Scripts/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="~/Scripts/bootstrap.min.js"></script>
        <!-- Menu Toggle Script -->
        <script>
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        </script>

        <script>
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#blah')
                        .attr('src', e.target.result)
                        .width(380)
                        .height(500);
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }</script>

    </body>
</html>
}
else
{
    <h1>Please Login!</h1>
}