@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["name"] != null) { 
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Khaadi products</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Contentcss/shop-homepage.css" rel="stylesheet">

</head>
<body>
    <br />
    <br />
    <br />
    <br />

    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <a class="navbar-brand" href="#"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div>

                <a href="/Home/Index" title="" class="logo"><img src="~/images/khaadi_logo.png" alt=""></a>
                &emsp;&emsp;
                &emsp;&emsp;

                <a href="/User/Women"><font size="6" color="black"> Women    |</font></a>

                <a href="/User/Man"><font size="6" color="black">Man    |</font> </a>

                <a href="/User/Home"><font size="6" color="black">    Home</font></a>

                <form action="/User/Search" class="pull-right">
                    <input id="search" type="text" placeholder="SEARCH" name="search" value="" class="form-group-lg" maxlength="128">
                    <input style="background-color:black;color:white" type="submit" value="Search" class="btn btn-primary">
                </form>


            </div>


        </div>


        <!-- Page Content -->
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="row carousel-holder">
                        <div class="col-md-12">

                            <hr />

                            <br />
                            <br />



                            <div class="row">
                                <div class="col-lg-3">

                                   <h3><b>CLOTHES</b></h3>
                                    <ul>
                                        <li>
                                            <h4>  <a href="/Home/ViewProducts?type=Unstiched">Unstiched</a></h4>
                                        </li>
                                        <li>
                                            <h4> <a href="/Home/ViewProducts?type=Pret">Pret</a></h4>
                                        </li>
                                    </ul>
                                   <h3><b>ACCESSORIES</b></h3>
                                    <ul><li>
                                            <h4> <a href="/Home/ViewProducts?type=Accessories">Rings</a></h4>
                                        </li>
                                   
                                         <li>                                      
                                             <h4> <a href="/Home/ViewProducts?type=Accessories">Earrings</a></h4>
                                      </li>
    
                                        <li>
                                            <h4><a href="/Home/ViewProducts?type=Accessories">Scarfs</a></h4>
                                        </li>
                                    </ul>
                                  

                                </div>

                                <div class="col-lg-2"></div>
                                <div class="col-lg-9">

                                     <div>

                                          

                                                <div class="thumbnail">


                                                    <a ><img src="/images/women.jpg" alt=""></a>
                                            

                                                </div>

                                            </div>


                                        </div>

                                    

                                </div>



                            </div>



                        </div>

                    </div>

                </div>
            </div>
        </div>

   
    <script src="~/Content/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/js/bootstrap.min.js"></script>

   



</body>

}
else{
    <h1>Please Login!</h1>}