@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Khaadi about</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Contentcss/shop-homepage.css" rel="stylesheet">

</head>
<body>
    <br />
    <br />
    <br />
    <br />

    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <a class="navbar-brand" href="#"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div>
              
                <a href="/Home/Index" title="" class="logo"><img src="~/images/khaadi_logo.png" alt=""></a>
                &emsp;&emsp;
                &emsp;&emsp;

                <a href="/User/Women"><font size="6" color="black"> Women    |</font></a>

                <a href="/User/Man"><font size="6" color="black">Man    |</font> </a>

                <a href="/User/Home"><font size="6" color="black">    Home</font></a>

                <form action="/User/Search" class="pull-right">
                    <input id="search" type="text" placeholder="SEARCH" name="search" value="" class="form-group-lg" maxlength="128">
                    <input style="background-color:black;color:white" type="submit" value="Search" class="btn btn-primary">
                </form>


                <br />
                @*<div class="dropdown profile-element pull-right">
                    <span>
                        @if(Session["image"]==null)
                        { 
                             <img alt="image" class="img-circle" width="50" height="50" src="/images/profile.jpg"/>
                        }
                        else { 
                        <img alt="image" class="img-circle" width="50" height="50" src=@Session["image"]>
                        }
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
                        <span class="clear">
                            <span class="block m-t-xs">

                            </span> <span class="text-muted text-xs block">@Session["name"]<b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="profile.html">Profile</a></li>

                        <li class="divider"></li>
                        <li><a href="/Home/Logout">Logout</a></li>
                    </ul>
                </div>*@
            </div>


        </div>


      


        <!-- Page Content -->
        
    </div>
    <hr />
    <div class="row">
      
        <br />
        <br />
        <br />
        <div class="col-md-1">

        </div>
        <div class="col-md-5">
         
            <p>
                
                <h2>
                
               
                ABOUT US</h2>
                <h5>
                   
                    
                    Khaadi first opened its doors in 1998 in Karachi, Pakistan offering customers
                    kurtas and loose fabric made from hand-woven fabric. Shamoon Sultan, the 
                    chairman and founder, had the intent of reviving the ancient craft of the handloom
                    and popularizing the traditional medium in a contemporary manner. Khaadi, which means 
                    “hand-woven”, has stayed true to its name and continues to produce a fusion of styles
                    to complement both the east and west, while still using hand-woven fabrics on select
                    products.
                    <br />
                    <br />
                    
                    Khaadi defines its lines as Concepts and initially had Prêt (Ready-to-Wear), 
                    Unstitched (Fabric) and Man (Eastern Wear). Over the years, Khaadi has introduced
                    a number of new Concepts including Khaas (featuring exclusive and limited-edition 
                    pieces), Kids (for 2-12 year olds), Accessories (jewelry, stoles and handbags) and 
                    Home (featuring furniture, bedding and bath items).
                    <br />
                    <br />
                   
                    
                    The online store was launched in Pakistan in 2014 and Khaadi will look to open 
                    its digital doors throughout the year.
                    We are located at:
                    <br />
                    <br />
                    
                    

                    F-2A/I, Hub River Road, S.I.T.E., Karachi, Pakistan.
                </h5>
            </p>
        </div>
        <div class="col-md-6">
            <img src="~/images/about_us.jpg" alt="">
        </div>

        </div>
    <!--

    <div class="container">
        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">

                    &emsp;&emsp;
                    &emsp;&emsp;
                    &emsp;&emsp;
                    &emsp;&emsp;
                    &emsp;&emsp;
                    &emsp;&emsp;
                    &emsp;&emsp;
                    &emsp;&emsp;
                    &emsp;&emsp;
                    &emsp;&emsp;
                    &emsp;&emsp;
                    &emsp;&emsp;
                    &emsp;&emsp;
                    &emsp;&emsp;


                    &copy Copyrights Seemal Nasir 2015
                </div>
            </div>
        </footer>
    </div>

    <script src="js/jquery.js"></script>

    <script src="js/bootstrap.min.js"></script>-->

   
</body>
