@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Khaadi about</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Contentcss/shop-homepage.css" rel="stylesheet">

</head>
<body>
    
    <br />
    <br />
    <br />
    <br />

    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <a class="navbar-brand" href="#"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div>

                <a href="/Home/Index" title="" class="logo"><img src="~/images/khaadi_logo.png" alt=""></a>
                &emsp;&emsp;
                &emsp;&emsp;

                <a href="/User/Women"><font size="6" color="black"> Women    |</font></a>

                <a href="/User/Man"><font size="6" color="black">Man    |</font> </a>

                <a href="/User/Home"><font size="6" color="black">    Home</font></a>

                <form action="/User/Search" class="pull-right">
                    <input id="search" type="text" placeholder="SEARCH" name="search" value="" class="form-group-lg" maxlength="128">
                    <input style="background-color:black;color:white" type="submit" value="Search" class="btn btn-primary">
                </form>

                <br />
            
            </div>

        </div>

        



        <!-- Page Content -->

    </div>
    <hr />
    <div class="row">

        <br />
        <br />
        <br />
        <div class="col-md-1">

        </div>
        <div class="col-md-3">

            <p>

                <h2>


                    CONTACT US
                    </h2>
                   <br />
                   <h4>KARACHI</h4> 
                   
                    Zamazama: 021 35360161
                    <br />
                    Park Towers: 021 35832525
                    <br />
                    Dolemen Mall, Cloifton: 021 35294240
                    <br />

                   <h4>LAHORE</h4> 
                   
                    MM Alam Road: 042 35878663
                    <br />
                    Defense Y Block : 042 35899155
                    <br />
                    MAll of Lahore: 042 36622398
                    <br />
                    Xinhua Mall: 042 35772633
                    <br />
                   <h4>ISLAMABAD</h4> 
                    
                    Centaurus: 051 2701232
                    <br />
                    F-10 051 2809627


            </p>
        </div>
        <div class="col-md-8">
           <img src="~/images/contact.png" alt="">
        </div>

    </div>
   
  
</body>

